<h1>Work Request List</h1>

<form method="POST" action="/WorkRequest/list">
  <input type="search" placeholder="Search" name="search">
  <input type="submit" class="btn btn-lg btn-primary btn-block" value="Search">
  <input type="hidden" name="_csrf" value="<%= _csrf %>">
</form>
  <% if(search) { %>
    <h1><%= search %></h1>
  <% } %>

  <h1>
    Jobs Found : <%= totalJobs %><br>
    Number of pages : <%= totalPages %><br>
    Current page : <%= currentPage  %>
  </h1>  
  <ul>

  <% for(var i = 0;jobs.length > i; i++){ %>

    <li> <% i %> : <%= jobs[i].client %></li>

  <% } %> 
  </ul>


  <% if(totalPages > 1){ %>


    <a href="/WorkRequest/list/<% if (search) { %>?search=<%= search %><% }; %>">
      <button>First <<</button>
    </a>

    <% if (currentPage != 1) { %>
        <a href="/WorkRequest/list/?skip=<%= skip-20 %><% if (search) { %>&search=<%= search %><% }; %>">
        <button>Pevious <</button>
      </a>
    <% }; %>
    

    <% if(totalPages != currentPage) { %>

      <a href="/WorkRequest/list/?skip=<%= skip + 20 %><% if (search) { %>&search=<%= search %><% }; %>">
        <button>next ></button>
      </a>

    <%  }; %>
    
    <a href="/WorkRequest/list/?skip=<%= (totalPages - 1) * 20 %><% if (search) { %>&search=<%= search %><% }; %>">
      <button>Last >></button>
    </a>

  <% } %>



  