<h1>Work Request List</h1>

<form method="POST" action="/WorkRequest/list">
  <input type="search" placeholder="Search" name="search">
  <input type="submit" class="btn btn-lg btn-primary btn-block" value="Search">
  <input type="hidden" name="_csrf" value="<%= _csrf %>">
</form>
  <% if(search) { %>
    <h1><%= search %></h1>
  <% } %>

  <h1>
    Jobs Found : <%= totalJobs %><br>
    Number of pages : <%= totalPages %><br>
    Current page : <%= currentPage  %>
  </h1>  
  <ul>

  <% for(var i = 0;jobs.length > i; i++){ %>

    <li> <%= i + 1 %> : <%= jobs[i].email %> <%= jobs[i].accountPersonFname %></li>

    <!-- <form action="/WorkRequest/destroy/<%= jobs[i].id %>" method="POST">
      <input type="hidden" name="_method" value="delete">
      <input type="submit" class="btn btn-danger listed-job-delete" value="Delete">
      <input type="hidden" name="_csrf" value="<%= _csrf %>">
    </form> -->
    <% if(session.authenticated && session.User.admin){ %>
      <input listed-job type="button" class="btn btn-danger" id="<%= jobs[i].id %>" value="Delete">
    <% } %>

  <% } %> 
  </ul>


  <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingOne">
      <h4 class="panel-title">
        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          Collapsible Group Item #1
        </a>
      </h4>
    </div>
    <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
      <div class="panel-body">
        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingTwo">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          Collapsible Group Item #2
        </a>
      </h4>
    </div>
    <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
      <div class="panel-body">
        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
      </div>
    </div>
  </div>
</div>


  <% if(totalPages > 1){ %>


    <a href="/WorkRequest/list/<% if (search) { %>?search=<%= search %><% }; %>">
      <button>First <<</button>
    </a>

    <% if (currentPage != 1) { %>
        <a href="/WorkRequest/list/?skip=<%= skip-20 %><% if (search) { %>&search=<%= search %><% }; %>">
        <button>Pevious <</button>
      </a>
    <% }; %>
    

    <% if(totalPages != currentPage) { %>

      <a href="/WorkRequest/list/?skip=<%= skip + 20 %><% if (search) { %>&search=<%= search %><% }; %>">
        <button>next ></button>
      </a>

    <%  }; %>
    
    <a href="/WorkRequest/list/?skip=<%= (totalPages - 1) * 20 %><% if (search) { %>&search=<%= search %><% }; %>">
      <button>Last >></button>
    </a>

  <% } %>



  